[submodule "keepalived"]
	path = keepalived
	url = https://github.com/credativ/puppet-keepalived
[submodule "example42lib"]
	path = example42lib
	url = https://github.com/credativ/puppet-example42lib
[submodule "rbldnsd"]
	path = rbldnsd
	url = https://github.com/credativ/puppet-rbldnsd
[submodule "bind"]
	path = bind
	url = https://github.com/credativ/puppet-bind
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/credativ/puppet-rsyslog
[submodule "stdpackages"]
	path = stdpackages
	url = https://github.com/credativ/puppet-stdpackages
[submodule "puppet-crond"]
	path = puppet-crond
	url = https://github.com/credativ/puppet-crond.git
[submodule "rdiff_backup"]
	path = rdiff_backup
	url = https://github.com/credativ/puppet-rdiff_backup.git
[submodule "postfix"]
	path = postfix
	url = https://github.com/credativ/puppet-postfix.git
